[disabled], [disabled]:hover, [disabled]:active {
    color:gray !important; 
    background-color:#bdbdbd !important; 
    border:1px solid #c2e1ef !important;
    cursor:default !important;
}

input, select {
	margin:none;
}

/* BUTTONS */
a.button, button, input[type=submit], select{
    display:block;
    min-width: 75px;
    float:center;
    /*margin-top:5px;*/
    /*margin-bottom:5px;*/
    background-color:#f5f5f5;
    border:1px solid #79b7e7;
    border-top:1px solid #79b7e7;
    border-left:1px solid #79b7e7;
    font-size:13px;
	line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:2px;
    padding-right:5px;
    background-repeat: no-repeat;
    background-position: 5px center;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-variant:small-caps;
}
button, input[type=submit]{
    overflow:visible;
}

a.button:hover {
    text-decoration:none;
}
button[type], input[type=submit]{
    line-height:17px; /* Safari */
}
*:first-child+html button[type], *:first-child+html input[type=submit]{
}
button img, a.button img, input[type=submit] img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */input[type=submit]:hover, button:hover, a.button:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
a.button:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
/* POSITIVE */input[type=submit].positive, button.positive, a.button.positive{
    color:#529214;
}
a.button.positive:hover, button.positive:hover, input[type=submit].positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
a.button.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}
/* NEGATIVE */a.button.negative, button.negative, input[type=submit].negative{
    color:#d12f19;
}
a.button.negative:hover, button.negative:hover, input[type=submit].negative:hover{
    background-color:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
a.button.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

a.button.add, button.add, input[type=submit].add{
	background-image:url('../images/icon/add.png');
    padding-left:20px;
}
a.button.delete, button.delete, input[type=submit].delete{
	background-image:url('../images/icon/delete.png');
    padding-left:20px;
}
a.button.reset, button.reset, input[type=submit].reset{
	background-image:url('../images/icon/reset.png');
    padding-left:20px;
}
a.button.comment, button.comment, input[type=submit].comment{
	background-image:url('../images/icon/comment.png');
    padding-left:18px;
    min-height:20px;
}
a.button.update, button.update, input[type=submit].update{
	background-image:url('../images/icon/update.png');
    padding-left:20px;
}
a.button.login, button.login, input[type=submit].login{
	background-image:url('../images/icon/login.png');
    padding-left:20px;
}
a.button.backup, button.backup, input[type=submit].backup{
	background-image:url('../images/icon/backup.png');
    padding-left:20px;
}
a.button.database_delete, button.database_delete, input[type=submit].database_delete{
	background-image:url('../images/icon/database_delete.png');
    padding-left:20px;
}
a.button.clean, button.clean, input[type=submit].clean{
	background-image:url('../images/icon/clean.png');
    padding-left:20px;
}
a.button.submit, button.submit, input[type=submit].submit{
	background-image:url('../images/icon/submit.png');
    padding-left:20px;
}
a.button.accept, button.accept, input[type=submit].accept{
	background-image:url('../images/icon/accept.png');
    padding-left:20px;
}
a.button.reject, button.reject, input[type=submit].reject{
	background-image:url('../images/icon/reject.png');
    padding-left:20px;
}
a.button.app_add, button.app_add, input[type=submit].app_add{
	background-image:url('../images/icon/app_add.png');
    padding-left:20px;
}
a.button.app_edit, button.app_edit, input[type=submit].app_edit{
	background-image:url('../images/icon/app_edit.png');
    padding-left:20px;
}
a.button.email_add, button.email_add, input[type=submit].email_add{
	background-image:url('../images/icon/email_add.png');
    padding-left:20px;
}

a.button.download, button.download, input[type=submit].download{
	/*background-image:url('../images/download.png');*/
    padding-left:29px;
    min-height:29px;
    background-color:white;
    border:none;
}
a.button.rec, button.rec, input[type=submit].rec{
	/*background-image:url('../images/contact.png');*/
    padding-left:29px;
    min-height:29px;
    background-color:white;
    border:none;
}

* {
	z-index:1;
}
.menu li {
	padding: 0;
	margin: 0 2px;
	float: left;
	position: relative;
	text-align: center;
}
.menu li em {
	background: url(../images/hover.png) no-repeat;
	position: absolute;
	width:200px;
	height:76px;
	top: -80px;
	left: -85px;
	text-align: left;
	font-style: normal;
	z-index: 10;
	display: none;
}

.slide{
    width : 75px;
    background-color:#DCDCDC;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    outline:none;
}
