.accdb_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/accdb.png') bottom;
    background-repeat: no-repeat;
}
.eps_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/eps.png') bottom;
    background-repeat: no-repeat;
}
.jpeg_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/jpeg.png') bottom;
    background-repeat: no-repeat;
}
.pdf_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/pdf.png') bottom;
    background-repeat: no-repeat;
}
.pub_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/pub.png') bottom;
    background-repeat: no-repeat;
}
.url_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/url.png') bottom;
    background-repeat: no-repeat;
}
.zip_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/zip.png') bottom;
    background-repeat: no-repeat;
}
avi_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/avi.png') bottom;
    background-repeat: no-repeat;
}
.fla_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/fla.png') bottom;
    background-repeat: no-repeat;
}
.jsf_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/jsf.png') bottom;
    background-repeat: no-repeat;
}
.png_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/png.png') bottom;
    background-repeat: no-repeat;
}
.rar_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/rar.png') bottom;
    background-repeat: no-repeat;
}
.vsd_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/vsd.png') bottom;
    background-repeat: no-repeat;
}
bmp_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/bmp.png') bottom;
    background-repeat: no-repeat;
}
.gif_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/gif.png') bottom;
    background-repeat: no-repeat;
}
.midi_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/midi.png') bottom;
    background-repeat: no-repeat;
}
.pptx_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/pptx.png') bottom;
    background-repeat: no-repeat;
}
.readme_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/readme.png') bottom;
    background-repeat: no-repeat;
}
.wav_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/wav.png') bottom;
    background-repeat: no-repeat;
}
css_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/css.png') bottom;
    background-repeat: no-repeat;
}
.html_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/html.png') bottom;
    background-repeat: no-repeat;
}
.mov_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/mov.png') bottom;
    background-repeat: no-repeat;
}
.proj_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/proj.png') bottom;
    background-repeat: no-repeat;
}
.settings_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/settings.png') bottom;
    background-repeat: no-repeat;
}
.wma_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/wma.png') bottom;
    background-repeat: no-repeat;
}
docx_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/docx.png') bottom;
    background-repeat: no-repeat;
}
.ind_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/ind.png') bottom;
    background-repeat: no-repeat;
}
.mp3_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/mp3.png') bottom;
    background-repeat: no-repeat;
}
.psd_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/psd.png') bottom;
    background-repeat: no-repeat;
}
.text_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/text.png') bottom;
    background-repeat: no-repeat;
}
.wmv_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/wmv.png') bottom;
    background-repeat: no-repeat;
}
eml_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/eml.png') bottom;
    background-repeat: no-repeat;
}
.ini_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/ini.png') bottom;
    background-repeat: no-repeat;
}
.mpeg_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/mpeg.png') bottom;
    background-repeat: no-repeat;
}
.pst_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/pst.png') bottom;
    background-repeat: no-repeat;
}
.tiff_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/tiff.png') bottom;
    background-repeat: no-repeat;
}
.xlsx_small
{
	margin:0px auto;
	height:32px;
	width:32px;
	background:url('../images/files/small/xlsx.png') bottom;
    background-repeat: no-repeat;
}
