.accdb
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/accdb.png') bottom;
    background-repeat: no-repeat;
}
.eps
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/eps.png') bottom;
    background-repeat: no-repeat;
}
.jpeg
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/jpeg.png') bottom;
    background-repeat: no-repeat;
}
.pdf
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/pdf.png') bottom;
    background-repeat: no-repeat;
}
.pub
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/pub.png') bottom;
    background-repeat: no-repeat;
}
.url
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/url.png') bottom;
    background-repeat: no-repeat;
}
.zip
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/zip.png') bottom;
    background-repeat: no-repeat;
}
avi
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/avi.png') bottom;
    background-repeat: no-repeat;
}
.fla
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/fla.png') bottom;
    background-repeat: no-repeat;
}
.jsf
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/jsf.png') bottom;
    background-repeat: no-repeat;
}
.png
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/png.png') bottom;
    background-repeat: no-repeat;
}
.rar
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/rar.png') bottom;
    background-repeat: no-repeat;
}
.vsd
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/vsd.png') bottom;
    background-repeat: no-repeat;
}
bmp
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/bmp.png') bottom;
    background-repeat: no-repeat;
}
.gif
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/gif.png') bottom;
    background-repeat: no-repeat;
}
.midi
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/midi.png') bottom;
    background-repeat: no-repeat;
}
.pptx
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/pptx.png') bottom;
    background-repeat: no-repeat;
}
.readme
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/readme.png') bottom;
    background-repeat: no-repeat;
}
.wav
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/wav.png') bottom;
    background-repeat: no-repeat;
}
css
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/css.png') bottom;
    background-repeat: no-repeat;
}
.html
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/html.png') bottom;
    background-repeat: no-repeat;
}
.mov
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/mov.png') bottom;
    background-repeat: no-repeat;
}
.proj
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/proj.png') bottom;
    background-repeat: no-repeat;
}
.settings
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/settings.png') bottom;
    background-repeat: no-repeat;
}
.wma
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/wma.png') bottom;
    background-repeat: no-repeat;
}
docx
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/docx.png') bottom;
    background-repeat: no-repeat;
}
.ind
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/ind.png') bottom;
    background-repeat: no-repeat;
}
.mp3
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/mp3.png') bottom;
    background-repeat: no-repeat;
}
.psd
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/psd.png') bottom;
    background-repeat: no-repeat;
}
.text
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/text.png') bottom;
    background-repeat: no-repeat;
}
.wmv
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/wmv.png') bottom;
    background-repeat: no-repeat;
}
eml
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/eml.png') bottom;
    background-repeat: no-repeat;
}
.ini
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/ini.png') bottom;
    background-repeat: no-repeat;
}
.mpeg
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/mpeg.png') bottom;
    background-repeat: no-repeat;
}
.pst
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/pst.png') bottom;
    background-repeat: no-repeat;
}
.tiff
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/tiff.png') bottom;
    background-repeat: no-repeat;
}
.xlsx
{
	margin:0px auto;
	height:64px;
	width:64px;
	background:url('../images/files/xlsx.png') bottom;
    background-repeat: no-repeat;
}
