.message {
	height:400px;
}

.message p {
	margin-bottom:0px;
}

.message p label {
	font-weight:bold;
}

.message p span {
	float:right;
}

.message p span a {
	cursor:pointer;
}

.message p.subject {
	font-size:14px;
	font-weight:bold;
}

.message p.content {
	max-height:300px;
	overflow-y:auto;
	white-space:normal;
	line-height:10px;
	font-size:10px;
}

table.message_box tr td {
	overflow:hidden;
	white-space:nowrap;
}
