/* ------------------------------
HTML Redefine Tags
------------------------------ */
body{font-family:verdana; font-size:12px; margin:20px; padding:0;}

input, form, textarea
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h4{font-size:28px; text-align:center; margin-top:10px; margin-right:40px; margin-left:40px; border-bottom:solid 2px #DEDEDE; border-top:solid 2px #DEDEDE; }
h1{font-size:18px;}
h2{font-size:14px; color:white;}
h3{font-size:13px; border-bottom:solid 1px #DEDEDE; margin-bottom:10px;}
p{font-size:11px;text-decoration:none;color:#393737;}
a:hover{text-decoration:none;color:#ABB4BA;}
a{text-decoration:none; color:#1A3E5B;}
h5 a:hover{color:#1A3E5B;}

/* ------------------------------
PAGE STRUCTURE
------------------------------ */
/*reset*/
html, body {
	background-color:#ABB4BA;    
	font-family: Verdana;
}

/* #container has an absolute width (780 pixel) */

#container{width:780px; margin:0 auto; background-color:white; }/*#F2F5F7*/
#topbar{width:auto; display:block; height:60px;}
#navbar{width:auto; display:block; height:56px; background-color:#1A3E5B; text-align:center;}
#navbar a{heigth:56px; line-height:58px; padding:0 30px; display:inline; color:white; text-decoration:none; font-size:14}
#navbar a:hover{color:#ABB4BA;}
#main{width:auto; display:block; padding:10px 0;}
#col_left{width:25%; float:left;}
#col_mid{width:30%; margin-left:35%; margin-right:35%; margin-top:2%;}
#col_right{width:25%; float:left;}
div.spacer{clear:both; height:2%; display:block;}

#footer{width:90%; display:block; margin-left:5%; margin-top:1%; padding-bottom:1%; font-size:11px; text-align:center; color:#666666; border-top:solid 1px #DEDEDE;}

/* ------------------------------
CUSTOM CLASSES
------------------------------ */

/* Add here your custom classes ... */

#imgmain{
	text-align:center;
	margin-bottom:2%;
}

#schoolname{
	text-align:center;
}

#schoolname h4{
    font-size:24px;
}

#box{
	width:88%;
	margin-left:6%;
}

.center, #admin_login{
	text-align:center;
}

.test{
	margin:0; 
	text-decoration:none;
	text-align:center;
	color:gray;
}

.test a{color:#1A3E5B;}

.test a:hover{text-decoration:none;color:#999999;}

.borderon{
	border:solid 1px #1A3E5B;
	}
	
.borderonlow{
	border:solid 1px #1A3E5B;
	position:relative;
	top:10px;
	}

.schooltop{
	font-size:14px;
	text-align:right;
	}

#column_left{width:40%; margin-left:8%; float:left;}
#column_right{width:40%; margin-right:8%; float:right;}

.name{
    font-weight:bold;
    margin:0;
}

.desc{
    font-size:11px;
    font-style:italic;
    margin:0;
}

/*SLIDESHOW*/
#wrapper {width:680px; height:170px;}
#slideshow {width:680px; height:170px; border:0px; background:#fff}
#slides {width:680px; height:170px; list-style:none;}
#slides div {width:680px; height:170px;}
.pagination {list-style:none; height:0;}
.pagination div {cursor:pointer; padding:0; margin:0; text-align:center; color:#222}
.pagination div:hover {}
div.current {}
div#content {float:center; width:680px; height:170px; padding:0px; background:white; overflow:hidden;}
/*END SLIDESHOW*/